<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="duan.server.mapper.CtMapper">

    <insert id="add">
        INSERT INTO
            ct(cno, tno, classtimeid, capacity,capacity_able)
        VALUES(#{ct.cno}, #{ct.tno}, #{ct.classtimeid}, #{ct.capacity}, #{ct.capacity_able})
    </insert>
    <update id="update_capacity">
        UPDATE ct
        SET
            capacityable = #{capacity}
        WHERE ctid = #{ctid};
    </update>

    <delete id="deleteCt">
        DELETE FROM ct
        WHERE cno = #{ct.cno} AND tno = #{ct.tno} AND term = #{ct.term}
    </delete>
    <select id="getByTno" resultType="duan.server.entity.SCT_old">
        SELECT * FROM ct,course,teacher
        WHERE ct.tno = #{tno}
          AND ct.cno = course.cno
          AND ct.tno = teacher.tno
    </select>
    <select id="getAll" resultType="duan.server.entity.SCT_old">
        SELECT * FROM ct,course,teacher
        WHERE ct.cno = course.cno
          AND ct.tno = teacher.tno
    </select>
    <select id="findBySearch" resultType="duan.server.entity.SCT_old">
        SELECT * FROM ct,course,teacher
        <where>


        <if test="fuzzyInt == 1">
        <if test="sct.tname !=null">
        AND (teacher.tname LIKE CONCAT('%', #{sct.tname}, '%'))
        AND (ct.tno = teacher.tno)
        </if>
        <if test="sct.cname !=null">
        AND (course.cname LIKE CONCAT('%', #{sct.cname}, '%'))
        AND (ct.cno = course.cno)
        </if>
        <if test="sct.term !=null">
        AND (ct.term LIKE CONCAT('%', #{sct.term}, '%'))
        </if>


</if>
        <if test="fuzzyInt == 0">


            AND teacher.tname= #{sct.tname}
            AND course.cname = #{sct.cname}
            AND ct.term = #{sct.term}

        </if>
        </where>
    </select>
    <select id="findByTno" resultType="duan.server.entity.SCT_old">
        SELECT * FROM ct,course,teacher
        <where>
            AND ct.tno = #{tno}
            AND ct.cno = course.cno
            AND ct.tno = teacher.tno
        </where>
    </select>
    <select id="findByTerm" resultType="duan.server.entity.SCT_old">
        SELECT * FROM ct,course,teacher
        <where>
            AND ct.term = #{term}
            AND ct.cno = course.cno
            AND ct.tno = teacher.tno
        </where>
    </select>
    <select id="findByStudent" resultType="duan.server.entity.SCT_old">
        SELECT * FROM ct,course,teacher
        <where>
            <if test="fuzzyInt == 1">
            <if test="sct.tname !=null">
            AND (teacher.tname LIKE CONCAT('%', #{sct.tname}, '%'))
            AND (ct.tno = teacher.tno)
            </if>
            <if test="sct.cname !=null">
            AND (course.cname LIKE CONCAT('%', #{sct.cname}, '%'))
            AND (ct.cno = course.cno)
            </if>
            AND ct.term = #{sct.term}
            </if>
            <if test="fuzzyInt == 0">
            AND ct.term = #{sct.term}
            AND teacher.tname = #{sct.tname}
            AND course.cname = #{sct.cname}
            AND ct.cno = course.cno
            AND ct.tno = teacher.tno
            </if>

        </where>
    </select>
    <select id="getClassTeacherListByTno" resultType="duan.server.entity.Ct_vo">
        SELECT * FROM teacher,course,ct,class_time
        WHERE teacher.tno = #{tno}
        AND teacher.tno = ct.tno
        AND ct.cno = course.cno
        AND ct.classtimeid = class_time.classtimeid
    </select>

</mapper>
