<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="duan.server.mapper.CtMapper">

    <insert id="add">
        INSERT INTO ct(cno, tno, term, capacity)
        VALUES(#{ct.cno}, #{ct.tno}, #{ct.term}, #{ct.capacity})
    </insert>
    <delete id="delByCtid">
        DELETE FROM ct
        WHERE ctid = #{ctid}
    </delete>
    <select id="getByTno" resultType="duan.server.entity.SCT">
        SELECT * FROM ct,course,teacher
        WHERE ct.tno = #{tno}
          AND ct.cno = course.cno
          AND ct.tno = teacher.tno
    </select>

</mapper>
