<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="duan.server.mapper.PlanIndexMapper">

    <select id="getPlanIndexList" resultType="duan.server.entity.PlanIndex_vo">
        SELECT
            planid,plan_index.collegeid,plan_index.majorid,plan_index.termid,
            collegename,majorname,termname
        FROM
            plan_index,major,college,term
        WHERE
            plan_index.collegeid = major.collegeid
            AND plan_index.majorid = major.majorid
            AND major.collegeid = college.collegeid
            AND plan_index.termid = term.termid
            AND plan_index.termid  &lt;= 8

    </select>
</mapper>
