<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="duan.server.mapper.ScMapper">


    <insert id="add">
            INSERT INTO sc(sno, ctid, grade)
            VALUES( #{sct.sno}, #{sct.ctid}, #{sct.grade})
    </insert>
    <update id="updateGrade">
            UPDATE sc
            SET grade = #{sc.grade}
            WHERE sno = #{sc.sno} AND ctid = #{sc.ctid}
    </update>

    <delete id="delete">
            DELETE FROM sc
            WHERE sno=#{sc.sno} AND ctid=#{sc.ctid}
    </delete>
    <select id="findBySearch" resultType="duan.server.entity.SCT_old">
            SELECT * FROM sc,course,student,teacher,ct
            <where>
                <if test="fuzzyInt == 1">
                <if test="sct.sno != null">
                    AND sc.sno LIKE CONCAT('%', #{sct.sno}, '%')
                </if>
                <if test="sct.ctid != null">
                    AND sc.ctid LIKE CONCAT('%', #{sct.ctid}, '%')
                </if>
                <if test="sct.tno != null">
                    AND teacher.tno LIKE CONCAT('%', #{sct.tno}, '%')
                </if>
                <if test="sct.sname !=null">
                    AND student.sname LIKE CONCAT('%', #{sct.sname}, '%')
                </if>
                <if test="sct.tname !=null">
                    AND teacher.tname LIKE CONCAT('%', #{sct.tname}, '%')
                </if>
                <if test="sct.cno !=null">
                    AND course.cno LIKE CONCAT('%',#{sct.cno},'%')
                </if>
                <if test="sct.term !=null">
                    AND student.term LIKE CONCAT('%',#{sct.term},'%')
                </if>
                <if test="sct.cname !=null">
                    AND course.cname LIKE CONCAT('%',#{sct.cname},'%')
                </if>
                    AND sc.sno = student.sno
                    AND sc.ctid = ct.ctid
                    AND teacher.tno = ct.tno
                    AND course.cno = ct.cno
                </if>

                <if test="fuzzyInt == 0">
                <if test="sct.sno != null">
                    AND sc.sno = #{sct.sno}
                </if>
                <if test="sct.ctid != null">
                    AND sc.ctid = #{sct.ctid}
                </if>
                    <if test="sct.tno != null">
                        AND teacher.tno =#{sct.tno}
                    </if>
                    <if test="sct.sname !=null">
                    AND student.sname =#{sct.sname}
                    </if>
                    <if test="sct.tname !=null">
                    AND teacher.tname= #{sct.tname}
                    </if>
                    <if test="sct.cno !=null">
                    AND course.cno = #{sct.cno}
                    </if>
                    <if test="sct.term !=null">
                    AND studnet.term = #{sct.term}
                    </if>
                    <if test="sct.cname !=null">
                    AND course.cname = #{sct.cname}
                    </if>

                    AND sc.sno = student.sno
                    AND sc.ctid = ct.ctid
                    AND teacher.tno = ct.tno
                    AND course.cno = ct.cno
                </if>

            </where>
    </select>
</mapper>
