<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="duan.server.mapper.StudentMapper">
    <update id="updateByCno">
        UPDATE student
        <set>
        <if test="student.sname != null">
                               sname = #{student.sname},
        </if>

            <if test="student.password != null">
                password = #{student.password},
            </if>
            <if test="student.ssex != null">
                ssex = #{student.ssex},
            </if>
            <if test="student.major != null">
                major = #{student.major},
            </if>
            <if test="student.term != null">
                term = #{student.term},
            </if>
            <if test="student.college != null">
                college = #{student.college},
            </if>

        </set>
        WHERE sno = #{student.sno};
    </update>
    <delete id="deleteBySno">
        DELETE FROM student
        WHERE sno = #{sno};
    </delete>


    <select id="findBySno" resultType="duan.server.entity.Student">
        SELECT * FROM student WHERE sno = #{sno}
    </select>
    <select id="findAll" resultType="duan.server.entity.Student">
        SELECT * FROM student
    </select>
    <select id="findBySearch" resultType="duan.server.entity.Student">
        SELECT * FROM student
        <where>
            <if test="student.sno != null">
                sno = #{student.sno}
            </if>
            <if test="student.sname != null">
                <if test="fuzzy == 0">
                    AND sname = #{student.sname}
                </if>
                <if test="fuzzy == 1">
                    AND sname LIKE CONCAT('%', #{student.sname}, '%')
                </if>
            </if>
        </where>
    </select>
</mapper>
