<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="duan.server.mapper.StudentMapper">
<!--    <insert id="add">-->
<!--        INSERT INTO student(sno, password, sname, ssex, major, term, college)-->
<!--        VALUES(#{student.sno}, #{student.password}, #{student.sname}, #{student.ssex}, #{student.major}, #{student.term}, #{student.college})-->
<!--    </insert>-->


    <update id="updateByCno">
        UPDATE student
        <set>
        <if test="student.sname != null">
                               sname = #{student.sname},
        </if>

            <if test="student.password != null">
                password = #{student.password},
            </if>
            <if test="student.ssex != null">
                ssex = #{student.ssex},
            </if>
            <if test="student.major != null">
                major = #{student.major},
            </if>
            <if test="student.term != null">
                term = #{student.term},
            </if>
            <if test="student.college != null">
                college = #{student.college},
            </if>

        </set>
        WHERE sno = #{student.sno};
    </update>
    <update id="updateTerm">
        UPDATE student
        SET
            termid = termid + 1

    </update>
    <update id="updateTermBefore">
        UPDATE student
        SET
            termid = termid - 1
    </update>
    <delete id="deleteBySno">
        DELETE FROM student
        WHERE sno = #{sno};
    </delete>


    <select id="findBySno" resultType="duan.server.entity.Student">
        SELECT * FROM student WHERE sno = #{sno}
    </select>
    <select id="findAll" resultType="duan.server.entity.Student">
        SELECT * FROM student
    </select>

    <select id="findBySearch_mohu" resultType="duan.server.entity.Student_vo">
        SELECT student.sno,student.sname,student.ssex,major.majorname,college.collegename,termname
        FROM
            student,major,college,term
        WHERE student.sname LIKE CONCAT('%', #{stu.sname}, '%')

          AND student.majorid = major.majorid
          AND student.collegeid = major.collegeid
          AND college.collegeid = major.collegeid
          AND student.termid = term.termid
    </select>

    <select id="findBySearch" resultType="duan.server.entity.Student_vo">
        SELECT student.sno,student.sname,student.ssex,major.majorname,college.collegename,termname
        FROM
        student,major,college,term
        WHERE
        student.sname = #{stu.sname}
          AND student.majorid = major.majorid
          AND student.termid = term.termid
          AND student.collegeid = major.collegeid
          AND college.collegeid = major.collegeid

    </select>
    <select id="getTerm" resultType="java.lang.String">
        SELECT termname
        FROM student,term
        WHERE
        student.termid = term.termid AND student.sno = #{sno}
    </select>
    <select id="haveSno" resultType="java.lang.Boolean">
        SELECT COUNT(*) FROM student
        WHERE sno = #{sno}
    </select>
    <select id="findBySno_vo" resultType="duan.server.entity.Student_vo">
        SELECT student.sno,  student.sname, student.ssex, majorname, termname, collegename,plan_index.planid
        FROM student,term,college,major,plan_index
        WHERE sno = #{sno}
          AND student.majorid = major.majorid
          AND student.termid = term.termid
          AND student.collegeid = major.collegeid
          AND major.majorid = plan_index.majorid
          AND term.termid = plan_index.termid

          AND major.collegeid = college.collegeid
    </select>
    <select id="get_able_course" resultType="duan.server.entity.Ct_vo">
        SELECT *
        FROM student,course,plan_table,ct,class_time,teacher
        WHERE
        student.sno = #{sno}
        AND student.planid = plan_table.planid
        AND plan_table.cid = course.cid
        AND ct.cno = course.cno
        AND ct.classtimeid = class_time.classtimeid
        AND ct.tno = teacher.tno

    </select>
    <select id="have_select_course" resultType="duan.server.entity.Sct">
        SELECT *
        FROM ct,sct
        WHERE sct.sno = #{sno}
        AND sct.ctid = ct.ctid
        AND ct.cno =(SELECT cno
                     FROM ct
                     WHERE ct.ctid = #{ctid})







    </select>
    <select id="get_selected_course" resultType="duan.server.entity.Ct_vo">
        SELECT *
        FROM sct,course,class_time,teacher,ct
        WHERE sct.sno = #{sno}
        AND sct.ctid = ct.ctid
        AND ct.cno = course.cno
        AND ct.classtimeid = class_time.classtimeid
        AND ct.tno = teacher.tno

    </select>

</mapper>
