<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="duan.server.mapper.TeacherMapper">
    <insert id="insertTeacher">
        INSERT INTO teacher (tno,password, tname,tsex,collegeid)
        VALUES (#{teacher.tno},#{teacher.password}, #{teacher.tname}, #{teacher.tsex}, #{teacher.collegeid})
    </insert>
    <update id="updateByTno">
        UPDATE teacher
        <set>
            <if test="teacher.password != null">
                password = #{teacher.password},
            </if>
            <if test="teacher.tname != null">
                tname = #{teacher.tname},
            </if>
            <if test="teacher.tsex != null">
                tsex = #{teacher.tsex},
            </if>
            <if test="teacher.college != null">
                college = #{teacher.college},
            </if>
        </set>
        WHERE tno=#{teacher.tno}
    </update>
    <delete id="deleteByTno">
        DELETE FROM teacher WHERE tno = #{tno}
    </delete>

    <select id="findByTid" resultType="duan.server.entity.Teacher">
        SELECT * FROM teacher WHERE tid = #{tid}
    </select>
    <select id="findByTno" resultType="duan.server.entity.Teacher">
        SELECT * FROM teacher WHERE tno = #{tno}
    </select>
    <select id="getTno" resultType="java.lang.Boolean">
        SELECT COUNT(*) FROM teacher WHERE tno = #{tno}
    </select>
    <select id="findAll" resultType="duan.server.entity.Teacher">
        SELECT * FROM teacher
    </select>
    <select id="findBySearch" resultType="duan.server.entity.Teacher_vo">
        SELECT tno,tname,tsex,collegename
         FROM teacher,college
            WHERE teacher.tname =#{tea.tname}
             AND teacher.collegeid=college.collegeid
    </select>
    <select id="findBySearch_mohu" resultType="duan.server.entity.Teacher_vo">
        SELECT tno,tname,tsex,collegename
         FROM teacher,college
            WHERE teacher.tname LIKE CONCAT('%',#{tea.tname},'%')
             AND teacher.collegeid=college.collegeid
    </select>
</mapper>
